.list_pattern_layout {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    height: 100%;
}

.div_image{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}